/* Google Font Noto serif*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*Google Font Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* utility first shared style*/
.text-color00{
    color:rgba(37, 36, 50, 1);
    
}
.text-color01{
    color: rgba(137, 135, 161, 1);
}
.text-color02{
    color: rgba(233, 90, 8, 1);
}
.text-color03{
    color: rgba(0, 0, 0, 0.5);
}
.text-color-04{
    color: rgba(0, 0, 0, 1);
}
.text-color-white{
    color:white;
}
/* header style start */
header{
    max-width: 1140px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 33px;
}
.bold{
    font-weight: bold;
}
nav ul {
    display: flex;
    gap: 70px;
    align-items: center;
}
nav li {
    list-style: none;
}
nav ul a{
    text-decoration: none;
}
.cart-list{
    height: 50px;
    width: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-shopping{
    width: 24px;
    height: 24px;
    margin: 0px;
}

/* banner style start */
.alawayes-fresh-flower-section{
    max-width: 1140px;
    max-height: 461px;
    margin: auto;
    display: flex;
    margin-top: 100px;
}
.alawayes-fresh-flower-textdiv{
    max-width: 570px;
    max-height:299px;
    margin-top:162px;
    padding: 0%;
}
.alawayes-fresh-flower-title{
    font-size:4.01rem;
    margin:0% 0% 2% 0%;
    font-weight: 700;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 1.4rem;
    padding-right:3%;
    padding-left:1%;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:570px;
    max-height: 355px;
    margin-top: 106px;
}

/* Our Plants style start*/
.Our-Plants-section{
    max-width: 1140px;
    height: 1186px;
    margin: auto;
    margin-top: 120px;
}
.Our-Plants-text-container{
    max-width:1140px;
    max-height: 139px;
    text-align: center;
    margin-bottom:49px;
    justify-items: center;  
}
.Our-Plants-section-title{
    max-width: 888px;
    font-size:3rem;
    margin: 0px;
    margin-bottom:16px;
    font-weight: 700;
}
.Our-Plants-section-parahgrap{
    font-size:1.5rem;
    padding: 0px 126px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.5);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 20px;
}

.Our-Plants-cards-img{
    max-width:270px;
    max-height:333px;
    margin-bottom:13px;
}
.card{
    max-width:270px;
    height:485px;
}
.Our-Plants-cards-text-btn-container{
    max-width:270px;
    height:132px;
    text-align: center;
    margin-top:13px;
}
.text-Lily-Blossom{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1.4rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 81px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:1rem;
    color: white;
    margin-top:19px;
}

/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    max-width:1140px;
    height: 597px;
    margin:auto;
    margin-top:212px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.image-badge{
    max-width: 286px;
    max-height: 286px;
    z-index: 12;
   margin-left:-18%;
   margin-right:-4%;
   margin-top:-50%;
}
.image-badge img {
    width: 100%;
}
.Flower-and-Plants-Lover-img-container{
    max-width:540px;
    max-height:597px;
}
.badge-background-img img{
    width:100%;
}
.Flower-Plants-Lover-text-container{
    max-width:540px;
    max-height:535px;
}
.Flower-Plants-Lover-title{
    font-size:3.2rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:1.5rem ;
    padding-left:6%;
}
.list-margin{
    margin-top: 20px;
}

/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    justify-items: center;
    margin-top:134px;
}
.Latest-Deals-title{
    font-size:3.01rem;
    margin: 0px;
    font-weight:700;
}
.Latest-Deals-parahgrap-container{
    max-width: 888px;
    max-height: 54px;
    font-size:1.5rem ;
    text-align: center;
    margin: opx;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    max-width:1140px;
    height:423px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width: 367px;
    height: 423px;
    justify-items: center;
    justify-content: center;
    
}

/* bloom plant style start */
.bloom-plant{
    max-width: 366px;
    height: 201px;
    background-image:url(../image/deal-bloom.png);
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bloom-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    color: white;
    text-align: center;
    align-content: center;
}
.bloom-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.bloom-plant-text-a{
    color: white;
    text-decoration: underline;
    text-underline-offset:4px;
    font-size: 1rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 366px;
    height: 201px;
    background-image:url(../image/deal-ana.png);
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.Ana-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    color: white;
    text-align: center;
    align-content: center;
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    text-underline-offset:4px;
    font-size: 1rem;
}

/* Zabo Plant style start */

.Zabo-Plant-container{
width:753px;
height:423px;
background-image: url(../image/deal-zabo.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 5%;
}
.Zabo-Plant-text-container{
width:753px;
height:423px;
background-color: rgba(0, 0, 0, 0.4);
border-radius: 5%;
color: white;
text-align: center;
align-content: center;
z-index: 1px;
}

.zabo-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.zabo-plant-text-a{
    color: white;
    text-decoration: underline;
    text-underline-offset:6px;
    font-size: 2rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    max-width:100%;
    height: 533px;
    background-image: url(../image/news-letter-bg.png);
    background-size: cover;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 533px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:3rem;
    font-weight:700;
}
.email-box{
    width:644px;
    height: 50px;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
    
}
.Subscribe-btn{
    width: 186px;
    height: 52px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    max-width: 1120px;
    height: 248px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:179px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
.home-aboutus-blog-faq-contactus{
    width: 85px;
    height: 248px;
}
.footer-logo-list-container{
    display: flex;
}
.home-aboutus-blog-faq-contactus-container ul li{
    list-style: none;
    color: rgba(107, 114, 128, 1);
}
.padding{
    padding: 0px;
}
.margin-top{
    margin-top: 0px;
}
.margin-buttom{
    margin-bottom:2.2rem;
}
.features-pricing-privacy-policy-container{
    width: 128px;
    height: 248px;
}
.list-style{
    list-style: none;
}
.list-link{
    list-style: none;
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}
.social-logo-container{
    width: 216px;
    height: 36px;
}
.social-logo{
    width: 36px;
    height: 36px;
}
.margin-left{
    margin-left:20px;
}

@media (min-width:319px) and (max-width:364px)
{
/* header style start */
header{
    max-width:90%;
    height: 38px;
    margin-top:13px;
    margin-bottom: 28px;
}
.hidden{
    display: none;
}
nav ul {
    display: flex;
    height:38px;
    margin: 0%;
}
.cart-list{
    height: 38px;
}
/* banner style start */
.alawayes-fresh-flower-section{
    flex-direction: column-reverse;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:100%;
    max-height: 245px;
    margin-top: 0px;
}
.alawayes-fresh-flower-section img {
    width: 100%;
}
.alawayes-fresh-flower-textdiv{
    max-width: 100%;
    max-height:147px;
    margin-top:28px;
}
.alawayes-fresh-flower-title{
    font-size:1.5rem;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 0.850rem;
}
/* Our Plants style start*/
.Our-Plants-section{
    max-width:100%;
    height: 1270px;
    margin-top: 55px;
    margin-bottom: 8.5px;
}
.Our-Plants-text-container{
    max-width:100%;
    max-height: 117px;
    text-align: center;
    margin-bottom:28px;
    justify-items: center;
}
.Our-Plants-section-title{
    max-width: 100%;
    font-size:1.5rem;
    margin: 0px;
    margin-bottom:16px;
}
.Our-Plants-section-parahgrap{
    font-size:0.850rem;
    padding: 0px 28.6px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap:28.5px 10px;
}
.card{
    max-width:100%;
    height:340.5px;
    justify-content: center;
}
.Our-Plants-cards-img{
    max-width:100%;
    max-height:196.5px;
}
.Our-Plants-cards-text-btn-container{
    max-width:100%;
    height:0px;
    text-align: center;
}
.text-Lily-Blossom{
    font-size:1rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 30.5px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:0.980rem;
    color: white;
    margin-top:19px;
}
/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    flex-direction: column;
    max-width:100%px;
    height: 648px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.Flower-and-Plants-Lover-img-container{
    max-width:100%;
    max-height:396px;
    background-size: cover;
    margin-bottom:18px;
}
.Flower-Plants-Lover-text-container{
    max-width:100%;
    height: 234px;
}
.Flower-Plants-Lover-title{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:0.910rem;
    padding-left:6%;
}
.list-margin{
    margin-top:16px;
}
/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    height: 117px;
    justify-items: center;
    justify-content: center;
    margin-top:143px auto auto 51.5px; 
}
.Latest-Deals-title{
    font-size:1.5rem;
}
.Latest-Deals-parahgrap-container{
    max-width: 336px;
    font-size:0.950rem ;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    flex-direction: column;
    max-width:100%;
    height:645px;
    margin: 51.5px auto;
    justify-content: center;
    align-items: center;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width:90%;
    margin: auto;
    margin-top:0%;
}
/* bloom plant style start */
.bloom-plant{
    max-width:300px;
    height: 201px;
}
.bloom-plant-text-container{
    max-width:300px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bloom-plant-text-h2{
    font-size: 1rem;
}
.bloom-plant-text-a{
    font-size: 0.800rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 300px;
    height: 201px;
    background-size: cover;
}
.Ana-plant-text-container{
    width: 300px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    font-size:0.800rem;
}
/* Zabo Plant style start */
.Zabo-Plant-container{
width: 300px;
height: 201px;
background-size: cover;
margin:auto;

}
.Zabo-Plant-text-container{
max-width: 300px;
height: 201px;
background-color: rgba(0, 0, 0, 0.6);
}
.zabo-plant-text-h2{
    margin-bottom: 10px;
    font-size: 1rem;
}
.zabo-plant-text-a{
    text-underline-offset:4px;
    font-size: 0.800rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    width:100%;
    height: 276px;
    background-image:url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 276px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:1.3rem;
    font-weight:700;
    margin-bottom: 20px;
}
.email-box{
    width:120px;
    height: 40px;
    border: none;
    font-size: 0.800rem;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 103px;
    height: 42px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 0.800rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    flex-direction: column;
    width:100%;
    height: 700px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:173px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.1rem;
    color: rgba(0, 0, 0, 0.5);
}
.social-logo-container{
    width: 216px;
    height: 36px;
    margin-top: 20px;
}
}

@media (min-width:364px) and (max-width:380px)
{
/* header style start */
header{
    max-width:90%;
    height: 38px;
    margin-top:13px;
    margin-bottom: 28px;
}
.hidden{
    display: none;
}
nav ul {
    display: flex;
    height:38px;
    margin: 0%;
}
.cart-list{
    height: 38px;
}
/* banner style start */
.alawayes-fresh-flower-section{
    flex-direction: column-reverse;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:100%;
    max-height: 245px;
    margin-top: 0px;
}
.alawayes-fresh-flower-section img {
    width: 100%;
}
.alawayes-fresh-flower-textdiv{
    max-width: 100%;
    max-height:147px;
    margin-top:28px;
}
.alawayes-fresh-flower-title{
    font-size:1.5rem;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 0.850rem;
}
/* Our Plants style start*/
.Our-Plants-section{
    max-width:100%;
    height: 1270px;
    margin-top: 55px;
    margin-bottom: 8.5px;
}
.Our-Plants-text-container{
    max-width:100%;
    max-height: 117px;
    text-align: center;
    margin-bottom:28px;
    justify-items: center;
}
.Our-Plants-section-title{
    max-width: 100%;
    font-size:1.5rem;
    margin: 0px;
    margin-bottom:16px;
}
.Our-Plants-section-parahgrap{
    font-size:0.850rem;
    padding: 0px 28.6px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap:28.5px 20px;
    margin: 0px;
}
.card{
    max-width:171px;
    height:340.5px;
}
.Our-Plants-cards-img{
    max-width:171px;
    max-height:196.5px;
}
.Our-Plants-cards-text-btn-container{
    max-width:171px;
    height:0px;
    text-align: center;
}
.text-Lily-Blossom{
    font-size:1rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 30.5px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:0.910rem;
    color: white;
    margin-top:19px;
}
/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    flex-direction: column;
    max-width:100%px;
    height: 648px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.Flower-and-Plants-Lover-img-container{
    max-width:100%;
    max-height:396px;
    background-size: cover;
    margin-bottom:18px;
}
.Flower-Plants-Lover-text-container{
    max-width:100%;
    height: 234px;
}
.Flower-Plants-Lover-title{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:0.910rem;
    padding-left:6%;
}
.list-margin{
    margin-top:16px;
}
/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    height: 117px;
    justify-items: center;
    justify-content: center;
    margin-top:143px auto auto 51.5px; 
}
.Latest-Deals-title{
    font-size:1.5rem;
}
.Latest-Deals-parahgrap-container{
    max-width: 336px;
    font-size:0.950rem ;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    flex-direction: column;
    max-width:100%;
    height:645px;
    margin: 51.5px auto;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width:100%;
    margin: auto;
    margin-top:0%;
}
/* bloom plant style start */
.bloom-plant{
    max-width:320px;
    height: 201px;
}
.bloom-plant-text-container{
    width:320px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bloom-plant-text-h2{
    font-size: 1rem;
}
.bloom-plant-text-a{
    font-size: 0.800rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 320px;
    height: 201px;
    background-size: cover;
}
.Ana-plant-text-container{
    width: 320px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    font-size:0.800rem;
}
/* Zabo Plant style start */
.Zabo-Plant-container{
width: 320px;
height: 201px;
background-size: cover;
margin: auto;
margin-top: 15px;
}
.Zabo-Plant-text-container{
width: 320px;
height: 201px;
background-color: rgba(0, 0, 0, 0.6);
}
.zabo-plant-text-h2{
    margin-bottom: 10px;
    font-size: 1rem;
}
.zabo-plant-text-a{
    text-underline-offset:4px;
    font-size: 0.800rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    width:100%;
    height: 276px;
    background-image:url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 276px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:1.3rem;
    font-weight:700;
    margin-bottom: 20px;
}
.email-box{
    width:180px;
    height: 40px;
    border: none;
    font-size: 0.800rem;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 103px;
    height: 42px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 0.800rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    flex-direction: column;
    width:100%;
    height: 700px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:173px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.1rem;
    color: rgba(0, 0, 0, 0.5);
}
.social-logo-container{
    width: 216px;
    height: 36px;
    margin-top: 20px;
}
}

@media (min-width:380px) and (max-width:410px){
/* header style start */
header{
    max-width:90%;
    height: 38px;
    margin-top:13px;
    margin-bottom: 28px;
}
.hidden{
    display: none;
}
nav ul {
    display: flex;
    height:38px;
    margin: 0%;
}
.cart-list{
    height: 38px;
}
/* banner style start */
.alawayes-fresh-flower-section{
    flex-direction: column-reverse;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:100%;
    max-height: 245px;
    margin-top: 0px;
}
.alawayes-fresh-flower-section img {
    width: 100%;
}
.alawayes-fresh-flower-textdiv{
    max-width: 100%;
    max-height:147px;
    margin-top:28px;
}
.alawayes-fresh-flower-title{
    font-size:1.5rem;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 0.900rem;
}
/* Our Plants style start*/
.Our-Plants-section{
    max-width:362px;
    height: 1270px;
    margin-top: 55px;
    margin-bottom: 48.5px;
}
.Our-Plants-text-container{
    max-width:100%;
    max-height: 117px;
    text-align: center;
    margin-bottom:28px;
    justify-items: center;
}
.Our-Plants-section-title{
    max-width: 100%;
    font-size:1.5rem;
    margin: 0px;
    margin-bottom:16px;
}
.Our-Plants-section-parahgrap{
    font-size:0.900rem;
    padding: 0px 28.6px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap:48.5px 20px;
    margin: 0px;
}
.card{
    max-width:171px;
    height:340.5px;
}
.Our-Plants-cards-img{
    max-width:171px;
    max-height:196.5px;
}
.Our-Plants-cards-text-btn-container{
    max-width:171px;
    height:0px;
    text-align: center;
}
.text-Lily-Blossom{
    font-size:1rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 30.5px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:1rem;
    color: white;
    margin-top:19px;
}
/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    flex-direction: column;
    max-width:361px;
    height: 648px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.Flower-and-Plants-Lover-img-container{
    max-width:361px;
    max-height:396px;
    background-size: cover;
    margin-bottom:18px;
}
.Flower-Plants-Lover-text-container{
    max-width:361px;
    height: 234px;
}
.Flower-Plants-Lover-title{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:0.910rem;
    padding-left:6%;
}
.list-margin{
    margin-top:16px;
}
/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    height: 117px;
    justify-items: center;
    justify-content: center;
    margin-top:143px auto auto 51.5px; 
}
.Latest-Deals-title{
    font-size:1.5rem;
}
.Latest-Deals-parahgrap-container{
    max-width: 336px;
    font-size:0.950rem ;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    flex-direction: column;
    max-width:100%;
    height:645px;
    margin: 51.5px auto;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width: 361px;
    margin: auto;
    margin-top:0%;
}
/* bloom plant style start */
.bloom-plant{
    max-width: 366px;
    height: 201px;
}
.bloom-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bloom-plant-text-h2{
    font-size: 1.3rem;
}
.bloom-plant-text-a{
    font-size: 1rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 366px;
    height: 201px;
    background-size: cover;
}
.Ana-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}
/* Zabo Plant style start */
.Zabo-Plant-container{
width: 366px;
height: 201px;
background-size: cover;
margin: auto;
margin-top: 15px;
}
.Zabo-Plant-text-container{
width: 366px;
height: 201px;
background-color: rgba(0, 0, 0, 0.6);
}
.zabo-plant-text-h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.zabo-plant-text-a{
    text-underline-offset:4px;
    font-size: 1rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    width:100%;
    height: 276px;
    background-image:url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 276px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:1.3rem;
    font-weight:700;
    margin-bottom: 20px;
}
.email-box{
    width:180px;
    height: 50px;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 103px;
    height: 52px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    flex-direction: column;
    width:100%;
    height: 700px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:173px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.1rem;
    color: rgba(0, 0, 0, 0.5);
}
.social-logo-container{
    width: 216px;
    height: 36px;
    margin-top: 20px;
}
}

@media (min-width:411px) and (max-width:480px){
/* header style start */
header{
    max-width:90%;
    height: 38px;
    margin-top:13px;
    margin-bottom: 28px;
}
.hidden{
    display: none;
}
nav ul {
    display: flex;
    height:38px;
    margin: 0%;
}
.cart-list{
    height: 38px;
}
/* banner style start */
.alawayes-fresh-flower-section{
    flex-direction: column-reverse;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:100%;
    max-height: 245px;
    margin-top: 0px;
}
.alawayes-fresh-flower-section img {
    width: 100%;
}
.alawayes-fresh-flower-textdiv{
    max-width: 100%;
    max-height:147px;
    margin-top:28px;
}
.alawayes-fresh-flower-title{
    font-size:1.5rem;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 0.900rem;
}
/* Our Plants style start*/
.Our-Plants-section{
    max-width:362px;
    height: 1270px;
    margin-top: 55px;
    margin-bottom: 48.5px;
}
.Our-Plants-text-container{
    max-width:100%;
    max-height: 117px;
    text-align: center;
    margin-bottom:28px;
    justify-items: center;
}
.Our-Plants-section-title{
    max-width: 100%;
    font-size:1.5rem;
    margin: 0px;
    margin-bottom:16px;
}
.Our-Plants-section-parahgrap{
    font-size:0.900rem;
    padding: 0px 28.6px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap:48.5px 20px;
    margin: 0px;
}
.card{
    max-width:171px;
    height:340.5px;
}
.Our-Plants-cards-img{
    max-width:171px;
    max-height:196.5px;
}
.Our-Plants-cards-text-btn-container{
    max-width:171px;
    height:0px;
    text-align: center;
}
.text-Lily-Blossom{
    font-size:1rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 30.5px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:1rem;
    color: white;
    margin-top:19px;
}
/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    flex-direction: column;
    max-width:361px;
    height: 648px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.Flower-and-Plants-Lover-img-container{
    max-width:361px;
    max-height:396px;
    background-size: cover;
    margin-bottom:18px;
}
.Flower-Plants-Lover-text-container{
    max-width:361px;
    height: 234px;
}
.Flower-Plants-Lover-title{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:0.910rem;
    padding-left:6%;
}
.list-margin{
    margin-top:16px;
}
/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    height: 117px;
    justify-items: center;
    justify-content: center;
    margin-top:143px auto auto 51.5px; 
}
.Latest-Deals-title{
    font-size:1.5rem;
}
.Latest-Deals-parahgrap-container{
    max-width: 336px;
    font-size:0.950rem ;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    flex-direction: column;
    max-width:100%;
    height:645px;
    margin: 51.5px auto;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width: 361px;
    margin: auto;
    margin-top:0%;
}
/* bloom plant style start */
.bloom-plant{
    max-width: 366px;
    height: 201px;
}
.bloom-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bloom-plant-text-h2{
    font-size: 1.3rem;
}
.bloom-plant-text-a{
    font-size: 1rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 366px;
    height: 201px;
    background-size: cover;
}
.Ana-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}
/* Zabo Plant style start */
.Zabo-Plant-container{
width: 366px;
height: 201px;
background-size: cover;
margin: auto;
margin-top: 15px;
}
.Zabo-Plant-text-container{
width: 366px;
height: 201px;
background-color: rgba(0, 0, 0, 0.6);
}
.zabo-plant-text-h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.zabo-plant-text-a{
    text-underline-offset:4px;
    font-size: 1rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    width:100%;
    height: 276px;
    background-image:url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 276px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:1.3rem;
    font-weight:700;
    margin-bottom: 20px;
}
.email-box{
    width:180px;
    height: 50px;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 103px;
    height: 52px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    flex-direction: column;
    width:100%;
    height: 700px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:173px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.1rem;
    color: rgba(0, 0, 0, 0.5);
}
.social-logo-container{
    width: 216px;
    height: 36px;
    margin-top: 20px;
}
}

@media (min-width:480px) and (max-width:581px){
/* header style start */
header{
    max-width:90%;
    height: 38px;
    margin-top:13px;
    margin-bottom: 28px;
}
.hidden{
    display: none;
}
nav ul {
    display: flex;
    height:38px;
    margin: 0%;
}
.cart-list{
    height: 38px;
}
/* banner style start */
.alawayes-fresh-flower-section{
    flex-direction: column-reverse;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:100%;
    max-height: 245px;
    margin-top: 0px;
}
.alawayes-fresh-flower-section img {
    width: 100%;
}
.alawayes-fresh-flower-textdiv{
    max-width: 100%;
    max-height:147px;
    margin-top:28px;
}
.alawayes-fresh-flower-title{
    font-size:1.7rem;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 1rem;
}
/* Our Plants style start*/
.Our-Plants-section{
    max-width:362px;
    height: 1270px;
    margin-top: 55px;
    margin-bottom: 48.5px;
}
.Our-Plants-text-container{
    max-width:100%;
    max-height: 117px;
    text-align: center;
    margin-bottom:28px;
    justify-items: center;
}
.Our-Plants-section-title{
    max-width: 100%;
    font-size:1.7rem;
    margin: 0px;
    margin-bottom:16px;
}
.Our-Plants-section-parahgrap{
    font-size:1rem;
    padding: 0px 5.6px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap:48.5px 20px;
    margin: 0px;
}
.card{
    max-width:171px;
    height:340.5px;
}
.Our-Plants-cards-img{
    max-width:171px;
    max-height:196.5px;
}
.Our-Plants-cards-text-btn-container{
    max-width:171px;
    height:0px;
    text-align: center;
}
.text-Lily-Blossom{
    font-size:1rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 30.5px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:1rem;
    color: white;
    margin-top:19px;
}
/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    flex-direction: column;
    max-width:361px;
    height: 648px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.Flower-and-Plants-Lover-img-container{
    max-width:361px;
    max-height:396px;
    background-size: cover;
    margin-bottom:18px;
}
.Flower-Plants-Lover-text-container{
    max-width:361px;
    height: 234px;
}
.Flower-Plants-Lover-title{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:0.910rem;
    padding-left:6%;
}
.list-margin{
    margin-top:16px;
}
/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    height: 117px;
    justify-items: center;
    justify-content: center;
    margin-top:143px auto auto 51.5px; 
}
.Latest-Deals-title{
    font-size:1.7rem;
}
.Latest-Deals-parahgrap-container{
    max-width: 336px;
    font-size:1rem ;
    padding: 0%;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    flex-direction: column;
    max-width:100%;
    height:645px;
    margin: 51.5px auto;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width: 361px;
    margin: auto;
    margin-top:0%;
}
/* bloom plant style start */
.bloom-plant{
    max-width: 366px;
    height: 201px;
}
.bloom-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bloom-plant-text-h2{
    font-size: 1.3rem;
}
.bloom-plant-text-a{
    font-size: 1rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 366px;
    height: 201px;
    background-size: cover;
}
.Ana-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}
/* Zabo Plant style start */
.Zabo-Plant-container{
width: 366px;
height: 201px;
background-size: cover;
margin: auto;
margin-top: 15px;
}
.Zabo-Plant-text-container{
width: 366px;
height: 201px;
background-color: rgba(0, 0, 0, 0.6);
}
.zabo-plant-text-h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.zabo-plant-text-a{
    text-underline-offset:4px;
    font-size: 1rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    width:100%;
    height: 276px;
    background-image:url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 276px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:1.3rem;
    font-weight:700;
    margin-bottom: 20px;
}
.email-box{
    width:180px;
    height: 50px;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 103px;
    height: 52px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    flex-direction: column;
    width:100%;
    height: 700px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:173px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.1rem;
    color: rgba(0, 0, 0, 0.5);
}
.social-logo-container{
    width: 216px;
    height: 36px;
    margin-top: 20px;
}
}

@media (min-width:581px) and (max-width:640px){
/* header style start */
header{
    max-width:90%;
    height: 38px;
    margin-top:13px;
    margin-bottom: 28px;
}
.hidden{
    display: none;
}
nav ul {
    display: flex;
    height:38px;
    margin: 0%;
}
.cart-list{
    height: 38px;
}
/* banner style start */
.alawayes-fresh-flower-section{
    flex-direction: column-reverse;
    margin-top: 0px;
}
.alawayes-fresh-flower-img{
    max-width:100%;
    max-height: 245px;
    margin-top: 0px;
}
.alawayes-fresh-flower-section img {
    width: 100%;
}
.alawayes-fresh-flower-textdiv{
    max-width: 100%;
    max-height:147px;
    margin-top:28px;
}
.alawayes-fresh-flower-title{
    font-size:1.9rem;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 1rem;
}
/* Our Plants style start*/
.Our-Plants-section{
    max-width:100%;
    height: 1270px;
    margin-top: 55px;
    margin-bottom: 48.5px;
}
.Our-Plants-text-container{
    max-width:100%;
    max-height: 117px;
    text-align: center;
    margin-bottom:28px;
    justify-items: center;
}
.Our-Plants-section-title{
    max-width: 100%;
    font-size:1.9rem;
    margin: 0px;
    margin-bottom:16px;
}
.Our-Plants-section-parahgrap{
    font-size:1rem;
    padding: 0px 10.6px;
}
.card-container{
    grid-template-columns: repeat(2,1fr);
    gap:40.5px 30px;
}
.card{
    max-width:171px;
    height:340.5px;
    margin: auto;
}
.Our-Plants-cards-img{
    max-width:171px;
    max-height:196.5px;
}
.Our-Plants-cards-text-btn-container{
    max-width:171px;
    height:0px;
    text-align: center;
}
.text-Lily-Blossom{
    font-size:1rem;
    margin: 0px;
    font-weight: 100;
}
.text-20-USD{
    font-size:1rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:15px 30.5px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:1rem;
    color: white;
    margin-top:19px;
}
/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    flex-direction: column;
    max-width:100%;
    height: 848px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.Flower-and-Plants-Lover-img-container{
    max-width:80%;
    max-height:530px;
    background-size: cover;
    margin-bottom:18px;
}
.Flower-Plants-Lover-text-container{
    max-width:80%;
    height: 234px;
    margin-top: 10%;
}
.Flower-Plants-Lover-title{
    font-size:1.4rem;
    margin: 0px;
    font-weight: 700;
}
.Flower-Plants-Lover-title-list{
    font-size:0.910rem;
    padding-left:6%;
}
.list-margin{
    margin-top:16px;
}
/* Latest  Deals style start */
.Latest-Deals-section{
    width:100%;
    height: 117px;
    justify-items: center;
    justify-content: center;
    margin-top:143px auto auto 51.5px; 
}
.Latest-Deals-title{
    font-size:1.9rem;
}
.Latest-Deals-parahgrap-container{
    max-width: 100%;
    font-size:1rem ;
    padding:0% 10%;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start */  
.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    flex-direction: column;
    max-width:100%;
    height:645px;
    margin: 51.5px auto;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
} 

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width: 361px;
    margin: auto;
    margin-top:0%;
}
/* bloom plant style start */
.bloom-plant{
    max-width: 366px;
    height: 201px;
}
.bloom-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.bloom-plant-text-h2{
    font-size: 1.3rem;
}
.bloom-plant-text-a{
    font-size: 1rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 366px;
    height: 201px;
    background-size: cover;
}
.Ana-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    font-size: 1rem;
}
/* Zabo Plant style start */
.Zabo-Plant-container{
width: 366px;
height: 201px;
background-size: cover;
margin: auto;
margin-top: 15px;
}
.Zabo-Plant-text-container{
width: 366px;
height: 201px;
background-color: rgba(0, 0, 0, 0.6);
}
.zabo-plant-text-h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.zabo-plant-text-a{
    text-underline-offset:4px;
    font-size: 1rem;
}

/*Footer style Start */
.join-the-colorful-bunch-container{
    width:100%;
    height: 276px;
    background-image:url(../image/news-letter-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 276px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:1.3rem;
    font-weight:700;
    margin-bottom: 20px;
}
.email-box{
    width:180px;
    height: 50px;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
}
.Subscribe-btn{
    width: 103px;
    height: 52px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem; 
}
/* Footer Logo social logo list style start */
.footer-logo-list-container{
    flex-direction: column;
    width:100%;
    height: 700px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:173px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.1rem;
    color: rgba(0, 0, 0, 0.5);
}
.social-logo-container{
    width: 216px;
    height: 36px;
    margin-top: 20px;
}
}

