/* utility first shared style*/
.text-color00{
    color:rgba(37, 36, 50, 1);
    
}
.text-color01{
    color: rgba(137, 135, 161, 1);
}
.text-color02{
    color: rgba(233, 90, 8, 1);
}
.text-color03{
    color: rgba(0, 0, 0, 0.5);
}
.text-color-04{
    color: rgba(0, 0, 0, 1);
}
.text-color-white{
    color:white;
}
/* header style start */
header{
    max-width: 1140px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 33px;
}
.bold{
    font-weight: bold;
}
nav ul {
    display: flex;
    gap: 48px;  
}
nav li {
    list-style: none;
}
nav ul a{
    text-decoration: none;
}

/* banner style start */

.alawayes-fresh-flower-section{
    max-width: 1140px;
    max-height: 461px;
    margin: auto;
    display: flex;
    margin-top: 100px;
}
.alawayes-fresh-flower-textdiv{
    max-width: 570px;
    max-height:299px;
    margin-top:162px;
}
.alawayes-fresh-flower-title{
    font-size:4.01rem;
    margin: 5px;
}
.alawayes-fresh-flower-parahgrap{
    font-size: 1.5rem;
    padding-right:7%;
    padding-left:1%;
}
.alawayes-fresh-flower-img{
    max-width:570px;
    max-height: 355px;
    margin-top: 106px;
}

/* Our Plants style start*/
.Our-Plants-section{
    max-width: 1140px;
    height: 1186px;
    margin: auto;
    margin-top: 120px;
}

.Our-Plants-text-container{
    max-width:1140px;
    max-height: 139px;
    text-align: center;
    margin-bottom:49px;
    justify-items: center;
    
}

.Our-Plants-section-title{
    max-width: 888px;
    font-size:4rem;
    margin: 0px;
    margin-bottom:16px;
}

.Our-Plants-section-parahgrap{
    font-size:1.6rem;
    padding: 0px 126px;
    margin: 0px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 20px;
}

.Our-Plants-cards-img{
    max-width:270px;
    max-height:333px;
    margin-bottom:13px;
}
.card{
    max-width:270px;
    height:485px;
}

.Our-Plants-cards-text-btn-container{
    max-width:270px;
    height:132px;
    text-align: center;
    margin-top:13px;
}

.text-Lily-Blossom{
    font-size:1.4rem;
    margin: 0px;
}
.text-20-USD{
    font-size:1.4rem;
    margin-top: 5%;
    margin-bottom:0px;
}
.Our-Plants-cards-btn{
    padding:19px 81px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
    font-size:1rem;
    color: white;
    margin-top:19px;
}

/* Flower-&-Plants-Lover style */
.Flower-and-Plants-Lover-container{
    max-width:1140px;
    height: 597px;
    margin:auto;
    margin-top:212px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.image-badge{
    max-width: 286px;
    max-height: 286px;
    z-index: 12;
   margin-left:-18%;
   margin-right:-4%;
   margin-top:-50%;
}
.image-badge img {
    width: 100%;
}
.Flower-and-Plants-Lover-img-container{
    max-width:540px;
    max-height:597px;
}
.badge-background-img img{
    width:100%;
}
.Flower-Plants-Lover-text-container{
    max-width:540px;
    max-height:535px;
}
.Flower-Plants-Lover-title{
    font-size:3.2rem;
    margin: 0px;
}
.Flower-Plants-Lover-title-list{
    font-size:1.6rem ;
    padding-left:6%;
}
.list-margin{
    margin-top: 20px;
}

/* Latest  Deals style start */

.Latest-Deals-section{
    width:100%;
    justify-items: center;
    margin-top:134px;
}
.Latest-Deals-title{
    font-size:3.01rem;
    margin: 0px;
}
.Latest-Deals-parahgrap-container{
    max-width: 888px;
    max-height: 54px;
    font-size:1.6rem ;
    text-align: center;
    margin: opx;
}

/* Bloom-Plant Ana-Plant Zabo-Plant  style start*/ 

.Bloom-Plant-Ana-Plant-Zabo-Plant-container{
    max-width:1140px;
    height:423px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: space-between;
}

/* Bloom-Plant-Ana-Plant style start */
.Bloom-Plant-Ana-Plant-container{
    width: 367px;
    height: 423px;
    justify-items: center;
    justify-content: center;
    
}

/* bloom plant style start*/
.bloom-plant{
    max-width: 366px;
    height: 201px;
    background-image:url(../image/deal-bloom.png);
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bloom-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    color: white;
    text-align: center;
    align-content: center;
}
.bloom-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
}
.bloom-plant-text-a{
    color: white;
    text-decoration: underline;
    text-underline-offset:4px;
    font-size: 1rem;
}

/*Ana-plant style start */
.Ana-plant{
    max-width: 366px;
    height: 201px;
    background-image:url(../image/deal-ana.png);
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.Ana-plant-text-container{
    width: 366px;
    height: 201px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    color: white;
    text-align: center;
    align-content: center;
}
.Ana-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
}
.Ana-plant-text-a{
    color: white;
    text-decoration: underline;
    text-underline-offset:4px;
    font-size: 1rem;
}

/* Zabo Plant style start */

.Zabo-Plant-container{
width:753px;
height:423px;
background-image: url(../image/deal-zabo.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 5%;
}
.Zabo-Plant-text-container{
width:753px;
height:423px;
background-color: rgba(0, 0, 0, 0.4);
border-radius: 5%;
color: white;
text-align: center;
align-content: center;
z-index: 1px;
}

.zabo-plant-text-h2{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.zabo-plant-text-a{
    color: white;
    text-decoration: underline;
    text-underline-offset:6px;
    font-size: 2rem;
}

/*Footer style Start*/
.join-the-colorful-bunch-container{
    max-width:100%;
    height: 533px;
    background-image: url(../image/news-letter-bg.png);
    background-size: cover;
}

.join-the-colorful-bunch-rgb-container{
    max-width: 100%;
    height: 533px;
    background-color:rgba(7, 51, 79, 0.4);
    justify-items: center;
    align-content: center;
}
.join-the-colorful-text{
    color: white;
    font-size:4rem;
}
.email-box{
    width:644px;
    height: 50px;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
    
}
.Subscribe-btn{
    width: 186px;
    height: 52px;
    color: white;
    background-color:rgba(233, 90, 8, 1);
    border: none;
    font-size: 1rem; 
}
/* Footer Logo social logo list style start*/
.footer-logo-list-container{
    max-width: 1120px;
    height: 248px;
    margin: 50px auto;
    justify-content: space-between;
}
.logo-parah-container{
    width: 359px;
    height:179px;
}
.logo-img{
    width:135px;
    height:82px;
}
.logo-parah{
    font-size:1.6rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}
.home-aboutus-blog-faq-contactus{
    width: 85px;
    height: 248px;
}
.footer-logo-list-container{
    display: flex;
}
.home-aboutus-blog-faq-contactus-container ul li{
    list-style: none;
    color: rgba(107, 114, 128, 1);
}
.padding{
    padding: 0px;
}
.margin-top{
    margin-top: 0px;
}
.margin-buttom{
    margin-bottom:2.2rem;
}
.features-pricing-privacy-policy-container{
    width: 128px;
    height: 248px;
}
.list-style{
    list-style: none;
}
.list-link{
    list-style: none;
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
}
.social-logo-container{
    width: 216px;
    height: 36px;
}
.social-logo{
    width: 36px;
    height: 36px;
}
.margin-left{
    margin-left:20px;
}
